@inject IAccountService AccountService
@inject NavigationManager NavigationManager
@inject ProtectedSessionStorage ProtectedSessionStore

@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <a href="#">Hello, @context.User.Identity.Name!</a>
                    <label for="guilds">Choose a guild:</label>

                    <select @bind="SelectedGuild">
                        @foreach (var guild in AccountService.LoggedUser.Guilds)
                        {
                            <option value="@guild.id">@guild.name</option>
                        }
                    </select>

                    <a href="Account/Logout">Log out</a>
                </Authorized>
                <NotAuthorized>
                    <a href="Account/Login">Log in</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code
{

    private string _selectedGuild;
    public string SelectedGuild
    {
        get => _selectedGuild;
        set
        {
            if(_selectedGuild != value)
            {
                _selectedGuild = value;
                OnSelectedGuildChanged();
            }
        }
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (SelectedGuild is null)
            SelectedGuild = await AccountService.LoggedUser.GetCurrentGuildId();

        await base.OnAfterRenderAsync(firstRender);
    }

    public async void OnSelectedGuildChanged()
    {
        await AccountService.LoggedUser.SetCurrentGuildId(SelectedGuild);
    }
}