@page "/clan"
@page "/clans"
@inject ICRUDViewModel<MMBot.Data.Entities.Clan> ClanVM

<h1>Clans</h1>
@if (ClanVM.Entities == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button @onclick="() => ClanVM.Create()">Create</button>
    <DataList CRUDVM="ClanVM" TEntity="MMBot.Data.Entities.Clan" />
}
