@page "/clan"
@page "/clans"
@inject IClanViewModel ClanVM

<h1>Clans</h1>
@if (ClanVM.Clans == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button @onclick="() => ClanVM.Create()">Create</button>
    <DataList Data="@ClanVM.Clans" TItem="MMBot.Data.Entities.Clan" />
}