@typeparam TEntity 

<table class="table">
    <thead>
        <tr>
            @foreach (var h in CRUDVM.Entities.FirstOrDefault().GetHeader())
            {
                <th>@h</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (TEntity item in CRUDVM.Entities ?? Array.Empty<TEntity>())
        {
            <tr>
                @foreach (var content in item.GetValues())
                {
                    <td>@content</td>
                }

                <td @onclick="@(() => (CRUDVM.Delete((item as IHaveId).Id)))">🗙</td>
            </tr>
        }
    </tbody>
</table>

@code
{
    [Parameter]
    public ICRUDViewModel<TEntity> CRUDVM { get; set; }
}