@page "/member"
@page "/members"
@inject ICRUDViewModel<MMBot.Data.Entities.Member> MemberVM
@inject StateContainer StateContainer
@implements IDisposable

@attribute [Authorize]

<h1>Members</h1>
@if (MemberVM.Entities == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button @onclick="() => MemberVM.Create(new MMBot.Data.Entities.Member())">Create</button>
    <DataList CRUDVM="MemberVM" TEntity="MMBot.Data.Entities.Member" />
}

@code {
    protected override void OnInitialized()
    {
        StateContainer.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }
}